{% extends 'shop/basic.html' %}
{%block title%} Shop : Checkout {%endblock%}
{%block body%} 
<div class="container">
	
	<div class="my-4">
		<h3>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items </h3>
   <ul class="list-group" id='items-list'>

   </ul>

   <ul class="list-group " id='items-list1'>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Total Price <b> Rs.<span id='total-price'></span> </b>
      </li>
    
   </ul>
 <!--   <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Total Price <b> Rs.<span id='total-price'></span><b></li>
  </ol> -->
 </div>

 <div class="my-4">
   <h3>Step 2 - Enter Address and Essential Details For Order</h3>
   
   <form action='/shop/checkout' method='post' > {% csrf_token%}
    <!-- <form> -->
      <input type="hidden" name="items_info" id="items_info">
       <input type="hidden" name="amount" id="amount">
    <div class="form-row">
     <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Email">
    </div>
    
  </div>
  <div class="form-group">
    <label for="address1">Address</label>
    <input type="text" class="form-control" id="address1" name='address1' placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="address2">Address line 2</label>
    <input type="text" class="form-control" id="address2" name='address2' placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name='phone' placeholder="8127349872">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name='city' placeholder="Mumbai">
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" name='state' placeholder="Maharashtra">
    </div>
    <div class="form-group col-md-2">
      <label for="zip_code">Zip</label>
      <input type="text" class="form-control" id="zip_code" name='zip_code'>
    </div>
  </div>
  <!-- <div class="form-group"> -->
    <button type="submit" class="btn btn-primary">Place Order</button>
  </form>
</div>

</div>

{%endblock%}

{%block js%}
<script type="text/javascript">
  
  var totalprice=0;
  //check localStorage for cart
  if(localStorage.getItem('cart')==null){
    cart={};
  }

  else{
    cart=JSON.parse(localStorage.getItem('cart'));
   sum=0;
  }

  // Checck if cart is empty
  if($.isEmptyObject(cart)){
    let str=`<h5 class="mt-4">Currently you cart is Empty please enter some items in your cart<h5>`;
    $('#items-list').append(str);
  }

  //Show cart Items in items-list
  else{
    for(let item in cart){
      let price=cart[item][2]*cart[item][0];
      // console.log(price);
      totalprice+=price;
      console.log(totalprice);
      let str=`<li class="list-group-item d-flex justify-content-between align-items-center">
      ${cart[item][1]}
      <span class="badge badge-primary badge-pill">${cart[item][0]}</span>
      </li>`;
      $('#items-list').append(str);
    }

    

  }

  document.getElementById('total-price').innerHTML=totalprice;

$('#items_info').val(JSON.stringify(cart)) // items Json
$('#amount').val($('#total-price').html()) //total amount

{% if placed%}
alert('Success! Your order has been placed with id : {{id}}');
localStorage.clear();
document.location='/shop'
 {%endif%}



</script>
 
{%endblock%}