{% extends 'shop/basic.html' %}
{%block title%} Shop : Tracker {%endblock%}
{%block body%} 
<div class="container">
	
	<div class="my-4">
		<h3>My Awesome Cart - Track your Orders </h3>
		<form id='trackerform'> {%csrf_token%}
			<div class="form-row">
			<div class="form-group col-md-6">
      <label for="name">Order Id</label>
      <input type="name" class="form-control" id="orderid" name="orderid" placeholder="Order Id">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Email">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
		</form>
   
 </div>

 <div class="my-4">
   <h3 class='mb-4'>Your order status</h3>
   
   <ul class="list-group" id='items-list'>
   	Enter the Order Id and Email for getting your order status and order details
   </ul>

  
  
</div>

 <div class="my-4">

   <h3 class='mb-4'>Your order details</h3>
   
   <ul class="list-group" id='order-list'>
   </ul>
  
</div>

</div>

{%endblock%}

{%block js%}
<script type="text/javascript">


$('#trackerform').submit( function(event){
$('#items-list').empty()
$('#order-list').empty()
var formdata={
'orderid':$('input[name=orderid]').val(),
'email':$('input[name=email]').val(),
'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
}


$.ajax({         // Post Request to the tracker.html
url : '/shop/tracker',
type: 'POST',
data : formdata,
encode : true
}).done(function (data){  // Response returned from tracker.html for above post request
  // $('items')
	$('#orderid').val('');
	$('#email').val('');
	data=JSON.parse(data);
  
	if(data['status']=='success'){ // Checking Status
    // console.log('SUccess')
    updates=data['updates']
		let date;
for(var i=0;i<updates.length;i++){
	date=new Date(updates[i]['time']);

 // Order Tracker Status
$('#items-list').append(  
`<li class="list-group-item d-flex justify-content-between align-items-center">
      ${updates[i]['text']}
      <span class="badge badge-primary badge-pill">${date.toLocaleString('en-US', { dateStyle: 'long' })}</span>
      </li>`
	);
};

//Order Items
cart=JSON.parse(data['itemsJson']);
for(let item in cart){         
      // sum+=cart[item][0];
      let str=`<li class="list-group-item d-flex justify-content-between align-items-center">
      ${cart[item][1]}
      <span class="badge badge-primary badge-pill">${cart[item][0]}</span>
      </li>`;
      $('#order-list').append(str);
    }
}

//Empty Status
else if(data['status']=='empty'){
  // console.log('Inside Else')
mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
     Sorry! Please Check the order id and Email you have entered 
      </li>`
      $('#items-list').append(mystr);
      $('#order-list').append(mystr)
}


else{
  console.log(data['status'])
  console.log('Inside Else')
mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    Please Enter Valid Order id and Email id
      </li>`
      $('#items-list').append(mystr);
      $('#order-list').append(mystr)
}
})
event.preventDefault();

})

</script>

 
{%endblock%}